* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ruda", sans-serif;
}

ul,
li {
  display: inline-block;
}

li,
a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

button {
  padding: 5px;
  background-color: transparent;
  margin-left: 0;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 25%px;
}

/* .row{
    border: 1px solid black;
  } */

.box {
  padding: 30px;
  margin: 10px 0px;
  border: solid 1px black;
}

.nav-links a {
  text-decoration: none;
  color: black;
}
.product-data td {
  width: 150px;
  /* text-align: center; */
}

.product-data #book {
  transform: translate(0, -100%);
}

.product-data #furniture {
  transform: translate(0, -85%);
}

.product-data #furniture input {
  margin: 5%;
}

.product-container h6 {
  margin-top: 2%;
}

#group-2 {
  transform: translate(0, -60px);
}

#group-3 {
  transform: translate(0, -120px);
}

#group-3 input {
  margin-top: 1%;
}

#group-3 label {
  margin-top: 2%;
}
